.home-arrow
    position: absolute
    left: 16.7rem
    top: 13rem
@include max-screen(1440px)
    .home-arrow
        left: 3.42rem
.navigation-arrow
    position: absolute
    z-index: 2
    margin-left: 55px
    margin-top: 206px
    filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.05))
    .navigation-arrow__menu
        position: absolute
        z-index: 2
        top: 32px
        display: flex
        flex-direction: column
        gap: 44px
        left: 44px
        align-items: center
        a
            max-width: 20px
            max-height: 20px
            .navigation-arrow__menu-txt
                display: none  
        .nav-arrow
            background: #FFFFFF
            display: flex
            align-items: center
            justify-content: center
            border-radius: 15px
            min-width: 40px
            min-height: 40px
    .navigation-arrow__menu-text
        transform: rotate(-90deg)
        font-weight: bold
        font-size: 14px
        line-height: 150%
        color: #607D8B
        position: absolute
        top: 62px
        left: -30px
.navigation-arrow .clicked-menu
    align-items: baseline
    width: 145px
    a
        align-items: center
        font-weight: bold
        font-size: 14px
        line-height: 110%
        color: $dark-grey
        svg
            margin-right: 12px
    .nav-arrow
        margin-left: 140px
        margin-top: 30px
        svg
            margin-right: 0px
            transform: rotate(180deg)
    a:hover
        color: $primary
        
.hidden-menu
    display: none
.active-menu
    left: -55px
    top: -206px
    z-index: 2
    position: absolute
    height: 710px
    background: linear-gradient(270deg, #FFEE93 0%, #FFEE95 100%), #FFE768
    box-shadow: 50px 50px 30px rgba(0, 0, 0, 0.05), inset 0px 10px 10px rgba(255, 255, 255, 0.2), inset -10px 10px 10px rgba(255, 255, 255, 0.2), inset 0px -10px 10px rgba(0, 0, 0, 0.1)
    border-radius: 0px 35px 35px 0px
    width: 295px