section.navigation-arrow
    .container
        include arrow-site.pug
        .navigation-arrow__menu-text НАВИГАЦИЯ
        .navigation-arrow__menu
            a(href="#") 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22C13.3135 22.0017 14.6143 21.7438 15.8278 21.2412C17.0413 20.7385 18.1435 20.001 19.071 19.071C20.001 18.1435 20.7385 17.0413 21.2412 15.8278C21.7438 14.6143 22.0017 13.3135 22 12C22.0017 10.6865 21.7438 9.3857 21.2411 8.17222C20.7385 6.95875 20.001 5.85656 19.071 4.92901C18.1435 3.99902 17.0413 3.26151 15.8278 2.75885C14.6143 2.25619 13.3135 1.99831 12 2.00001C10.6865 1.99833 9.3857 2.25623 8.17222 2.75889C6.95875 3.26154 5.85656 3.99904 4.92901 4.92901C3.99904 5.85656 3.26154 6.95875 2.75889 8.17222C2.25623 9.3857 1.99833 10.6865 2.00001 12C1.99831 13.3135 2.25619 14.6143 2.75885 15.8278C3.26151 17.0413 3.99902 18.1435 4.92901 19.071C5.85656 20.001 6.95875 20.7385 8.17222 21.2411C9.3857 21.7438 10.6865 22.0017 12 22V22Z" stroke="#37474F" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 5.75C12.2652 5.75 12.5196 5.85536 12.7071 6.04289C12.8946 6.23043 13 6.48478 13 6.75C13 7.01522 12.8946 7.26957 12.7071 7.45711C12.5196 7.64464 12.2652 7.75 12 7.75C11.7348 7.75 11.4804 7.64464 11.2929 7.45711C11.1054 7.26957 11 7.01522 11 6.75C11 6.48478 11.1054 6.23043 11.2929 6.04289C11.4804 5.85536 11.7348 5.75 12 5.75Z" fill="#37474F"/>
                    <path d="M12.25 17V10H11.25" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.5 17H14" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                .navigation-arrow__menu-txt
            a(href="#") 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 4H3C2.44772 4 2 4.44772 2 5V19C2 19.5523 2.44772 20 3 20H21C21.5523 20 22 19.5523 22 19V5C22 4.44772 21.5523 4 21 4Z" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M2 5C2 4.73478 2.10536 4.48043 2.29289 4.29289C2.48043 4.10536 2.73478 4 3 4H21C21.2652 4 21.5196 4.10536 21.7071 4.29289C21.8946 4.48043 22 4.73478 22 5V8H2V5Z" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.5 11.5L11.5 17" stroke="#37474F" stroke-linecap="round"/>
                    <path d="M15.5 11.5L18.5 14L15.5 17" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.5 11.5L5.5 14L8.5 17" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                .navigation-arrow__menu-txt
            a(href="#") 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6 16.5H2V3.5H22V16.5H18H6Z" stroke="#37474F" stroke-linejoin="round"/>
                    <path d="M8 11V13" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 16.5V19.5" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 9V13" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16 7V13" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 20.5H18" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                .navigation-arrow__menu-txt
            a(href="#") 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.142 21.5855C7.48803 21.0917 5.99009 20.178 4.794 18.9335C5.17884 18.4771 5.41874 17.9162 5.483 17.3226C5.54726 16.7291 5.43296 16.1298 5.15472 15.6016C4.87649 15.0734 4.44698 14.6402 3.92115 14.3575C3.39531 14.0747 2.79708 13.9553 2.203 14.0145C2.06766 13.3515 1.99965 12.6766 2 12C2 10.955 2.16 9.947 2.458 9H2.5C3.00988 9.00016 3.51139 8.87037 3.95717 8.62287C4.40295 8.37537 4.7783 8.01834 5.04777 7.58549C5.31724 7.15264 5.47194 6.65825 5.49726 6.149C5.52259 5.63975 5.4177 5.13245 5.1925 4.675C6.3648 3.58341 7.78253 2.78991 9.326 2.3615C9.57719 2.8547 9.95992 3.26879 10.4319 3.55797C10.9038 3.84715 11.4465 4.00013 12 4C12.5535 4.00013 13.0962 3.84715 13.5681 3.55797C14.0401 3.26879 14.4228 2.8547 14.674 2.3615C16.2175 2.78991 17.6352 3.58341 18.8075 4.675C18.5807 5.13565 18.4759 5.64682 18.5031 6.15957C18.5304 6.67233 18.6888 7.1695 18.9632 7.60351C19.2376 8.03752 19.6188 8.39383 20.0703 8.63834C20.5219 8.88285 21.0286 9.00738 21.542 9C21.8465 9.97085 22.0009 10.9825 22 12C22 12.69 21.93 13.364 21.797 14.0145C21.2029 13.9553 20.6047 14.0747 20.0789 14.3575C19.553 14.6402 19.1235 15.0734 18.8453 15.6016C18.567 16.1298 18.4527 16.7291 18.517 17.3226C18.5813 17.9162 18.8212 18.4771 19.206 18.9335C18.0099 20.178 16.512 21.0917 14.858 21.5855C14.6638 20.9801 14.2824 20.4521 13.7687 20.0775C13.2551 19.7028 12.6357 19.501 12 19.501C11.3643 19.501 10.7449 19.7028 10.2313 20.0775C9.71765 20.4521 9.33623 20.9801 9.142 21.5855Z" stroke="#37474F" stroke-linejoin="round"/>
                    <path d="M12 15.5C12.4596 15.5 12.9148 15.4095 13.3394 15.2336C13.764 15.0577 14.1499 14.7999 14.4749 14.4749C14.7999 14.1499 15.0577 13.764 15.2336 13.3394C15.4095 12.9148 15.5 12.4596 15.5 12C15.5 11.5404 15.4095 11.0852 15.2336 10.6606C15.0577 10.236 14.7999 9.85013 14.4749 9.52513C14.1499 9.20012 13.764 8.94231 13.3394 8.76642C12.9148 8.59053 12.4596 8.5 12 8.5C11.0717 8.5 10.1815 8.86875 9.52513 9.52513C8.86875 10.1815 8.5 11.0717 8.5 12C8.5 12.9283 8.86875 13.8185 9.52513 14.4749C10.1815 15.1313 11.0717 15.5 12 15.5V15.5Z" stroke="#37474F" stroke-linejoin="round"/>
                </svg>
                .navigation-arrow__menu-txt
            a(href="#") 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 22H19C19.2652 22 19.5196 21.8946 19.7071 21.7071C19.8946 21.5196 20 21.2652 20 21V7L15.5 2H5C4.73478 2 4.48043 2.10536 4.29289 2.29289C4.10536 2.48043 4 2.73478 4 3V21C4 21.2652 4.10536 21.5196 4.29289 21.7071C4.48043 21.8946 4.73478 22 5 22Z" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 15.5V14C13.105 14 14 12.9925 14 11.75C14 10.5075 13.105 9.5 12 9.5C10.895 9.5 10 10.5075 10 11.75" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 19.25C12.2652 19.25 12.5196 19.1446 12.7071 18.9571C12.8946 18.7696 13 18.5152 13 18.25C13 17.9848 12.8946 17.7304 12.7071 17.5429C12.5196 17.3554 12.2652 17.25 12 17.25C11.7348 17.25 11.4804 17.3554 11.2929 17.5429C11.1054 17.7304 11 17.9848 11 18.25C11 18.5152 11.1054 18.7696 11.2929 18.9571C11.4804 19.1446 11.7348 19.25 12 19.25Z" fill="#37474F"/>
                    <path d="M15 2V7H20" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                .navigation-arrow__menu-txt
            a(href="#") 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 12C22 17.523 17.523 22 12 22H2V12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12Z" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7 9H16" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7 13H16" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7 17H12" stroke="#37474F" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                .navigation-arrow__menu-txt